
.subheadingtab{
    padding: 60px 0px 0px 0px;
}
.subheadingtab>ul{
    display: flex;
    gap: 20px;
}
.subheadingtab>ul>li{
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

.newarival1{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.subheadingtab1{
    padding: 0px 40px;
}

.arivaldiv2 h5, p{
    font-weight: bolder;
    margin: 0;
    padding-top: 8px;
}
.arivaldiv2>button{
    background-color: #4eb528;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
}